@model DashReportViewer.Shared.Models.User.UsersModel

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewData["Title"] = "Welcome to DashReportViewer";
    ViewData["disableFilter"] = true;
    ViewData["KioskMode"] = false;
    ViewData["SideBarBackgroundColor"] = Model.SideBarBackgroundColor;
}

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Manage Users</h6>
        <button id="btnAddNewUser" type="button" class="btn btn-primary">
            Add User
        </button>
    </div>
    <div class="card-body" style="padding:unset;">
        <table class="table table-striped table-hover" id="dataTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appUser in Model.ApplicationUsers)
                {
                    <tr>
                        <td>@(appUser.Id)</td>
                        <td>@(appUser.FirstName)</td>
                        <td>@(appUser.LastName)</td>
                        <td>@(appUser.UserName)</td>
                        <td>Admin</td>
                        <td>
                            <button class="btnEditUser btn btn-secondary" data-id="@(appUser.Id)">Edit User</button>
                            @*<button class="btnRemoveUser btn btn-danger" data-id="@(appUser.Id)">Remove User</button>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">New User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="exampleInputPassword1">First Name</label>
                    <input id="txtFirstName" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Last Name</label>
                    <input id="txtLastName" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Email</label>
                    <input id="txtEmail" type="email" class="form-control">
                </div>

                <div id="dPassword" class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input id="txtPassword" type="password" class="form-control">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Role</label>
                    <select id="sRole" class="form-control">
                        <option value="1">Admin</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="btnAddUser" type="button" class="btn btn-primary">Add User</button>
                <button id="btnUpdateUser" type="button" class="btn btn-primary" style="display:none;">Update User</button>
            </div>
        </div>
    </div>
</div>

<input id="hSelectedUserId" type="hidden" value="" />


@section Scripts
{
    <script type="text/javascript" src="/js/jstz-1.0.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function ($) {

            function ClearFields() {
                $("#txtFirstName").val("");
                $("#txtLastName").val("");
                $("#txtEmail").val("");
                $("#txtPassword").val("");
                $("#sRole").val(1);
            }

            $("#btnAddNewUser").click(function () {

                $("#modalTitle").text("New User");
                $("#dPassword").show();
                $("#btnAddUser").show();
                $("#btnUpdateUser").hide();
                $("#hSelectedUserId").val("");

                ClearFields();

                $('#modalDialog').modal('show');
            });

            $(".btnEditUser").click(function () {

                $("#btnAddUser").hide();
                $("#btnUpdateUser").show();

                let userId = $(this).attr("data-id");
                $.post("/Users/GetUser", {
                    userId: userId
                }, function (data, status) {

                        ClearFields();

                        $("#hSelectedUserId").val(userId);

                        $("#txtFirstName").val(data.firstName);
                        $("#txtLastName").val(data.lastName);
                        $("#txtEmail").val(data.email);
                        $("#sRole").val(1);

                        $("#modalTitle").text("Edit User");
                        $("#dPassword").hide();                
                        $('#modalDialog').modal('show');
                });
            });

            $(".btnRemoveUser").click(function () {

                alert("Remove user");
                $('#modalDialog').modal('hide');
                window.location.reload(true);
            });

            $("#btnUpdateUser").click(function () {


                let id = $("#hSelectedUserId").val();
                let firstName = $("#txtFirstName").val();
                let lastName = $("#txtLastName").val();
                let email = $("#txtEmail").val();
                let password = $("#txtPassword").val();
                let role = $("#sRole").val();


                $.post("/Users/UpdateUser", {
                    id: id,
                    firstName: firstName,
                    lastName: lastName,
                    email: email,
                    role: role,

                }, function (data, status) {
                        $('#modalDialog').modal('hide');
                        window.location.reload(true);
                });

            });

            $("#btnAddUser").click(function () {

                var tz = jstz.determine();
                var timezone = tz.name();

                let firstName = $("#txtFirstName").val();
                let lastName = $("#txtLastName").val();
                let email = $("#txtEmail").val();
                let password = $("#txtPassword").val();
                let role = $("#sRole").val();

                // finish the post request here

                $.post("/Users/CreateUser", {
                    firstName: firstName,
                    lastName: lastName,
                    email: email,
                    password: password,
                    role: role,
                    timezone: timezone

                }, function(data, status) {

                        if (data.success) {
                            alert("Account Created!");

                            $('#modalDialog').modal('hide');
                            window.location.reload(true);
                        }
                        else {
                            let errors = "";
                            for (var i = 0; i < data.errors.length; i++) {
                                errors += data.errors[i] + ", ";
                            }

                            alert("Unable to add account: " + errors);
                        }
                });
            })

        });
    </script>
}