@model DashReportViewer.Shared.ReportComponents.ColumnChartComponent

@{
    var content = ((DashReportViewer.Shared.ReportContent.ColumnChartContent)Model.RawData);
    // var dataPoints = ((DashReportViewer.Shared.ReportContent.ColumnChartContent)Model.RawData).DataPoints;
    // var xAxis = ((DashReportViewer.Shared.ReportContent.ColumnChartContent)Model.RawData).XAxis;

    int index = 0;
}

<script type="text/javascript">

    google.charts.setOnLoadCallback(drawChart@(Model.Index));

    function drawChart@(Model.Index)() {

        // var dataPoints = Html.Raw(Json.Serialize(dataPoints));
        // var xAxis = Html.Raw(Json.Serialize(xAxis));

        var master = [];

        var header = ['Genre'];
        @foreach (var item in content.DataPoints)
        {
            <text>
                header.push('@(item.Name)');
            </text>
        }
        master.push(header);

        @foreach (var item in content.DataPoints)
        {
            <text>
                var dataPoint@(index) = ['@(item.ColumnChartDataPoints.Label)']; 

                @foreach (var columnData in item.ColumnChartDataPoints.Data)
                {
                    <text>
                        dataPoint@(index).push(@(columnData));
                    </text>
                }

                master.push(dataPoint@(index));
            </text>

            index++;
        }

        var data = google.visualization.arrayToDataTable(master);


        var options = {
            title: "@content.Title",
            //legend: { position: '@(content.legend.position)}',
            // bar: { groupWidth: '75%' },
            isStacked: '@(content.IsStacked)',
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div@(Model.Index)'));

        chart.draw(data, options);
    }
</script>



<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">@(Model.Name)</h6>
        <i class="fas fa-info-circle infoSys" data-cardId="@(Model.Index.ToString())" data-reportId="@(Model.ReportId.ToString())"></i>
    </div>
    <div class="card-body">

        <div id="chart_div@(Model.Index)" style="height: 500px;"></div>

    </div>
</div>