@model DashReportViewer.Shared.ReportComponents.CalendarChartReportComponent
@{ 
    var CalendarContent = (DashReportViewer.Shared.ReportContent.CalendarChartContent)Model.RawData;
}

<script type="text/javascript">
    google.charts.setOnLoadCallback(drawChart@(Model.Index));

    function drawChart@(Model.Index)() {

        let container = [];
        @foreach (var dataPoint in CalendarContent.DataPoints)
        {
            <text>
                container.push([new Date(@(dataPoint.Date.Year), @(dataPoint.Date.Month), @(dataPoint.Date.Day)), @(dataPoint.Size)]);
            </text>
        }

        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'date', id: 'Date' });
        dataTable.addColumn({ type: 'number', id: 'Number' });
        dataTable.addRows(container);

        var chart = new google.visualization.Calendar(document.getElementById('calendar_basic@(Model.Index)'));

        var options = {
            title: '@(CalendarContent.Title)',
            height: 350,
        };

        chart.draw(dataTable, options);
    }
</script>




<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">@(Model.Name)</h6>
        <i class="fas fa-info-circle infoSys" data-cardId="@(Model.Index.ToString())" data-reportId="@(Model.ReportId.ToString())"></i>
    </div>
    <div class="card-body" style="padding:unset;">
        <div id="calendar_basic@(Model.Index)" style="width: 1000px; height: 350px;"></div>
    </div>
</div>