@model DashReportViewer.Shared.ReportComponents.BubbleChartReportComponent

@{ 
    var BubbleContent = (DashReportViewer.Shared.ReportContent.BubbleChartContent)Model.RawData;
}

<script type="text/javascript">
    google.charts.setOnLoadCallback(drawSeriesChart@(Model.Index));

    function drawSeriesChart@(Model.Index)() {

        var dataPoints = @Html.Raw(Json.Serialize(BubbleContent.dataPoints));

        let dataContainer = [
            ['ID', '@(BubbleContent.Header.X)', '@(BubbleContent.Header.Y)', '@(BubbleContent.Header.Name)', '@(BubbleContent.Header.Size)'],
        ];

        for (var i = 0; i < dataPoints.length; i++) {
            let tempData = [];
            tempData.push(dataPoints[i].id);
            tempData.push(dataPoints[i].x);
            tempData.push(dataPoints[i].y);
            tempData.push(dataPoints[i].name);
            tempData.push(dataPoints[i].size);
            dataContainer.push(tempData);
        }

        var data = google.visualization.arrayToDataTable(dataContainer);

        var options = {
            title: '@(BubbleContent.Title)',
            hAxis: { title: '@(BubbleContent.HorizontalText)' },
            vAxis: { title: '@(BubbleContent.VerticalText)' },
            bubble: { textStyle: { fontSize: 11 } }
        };

        var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div@(Model.Index)'));
        chart.draw(data, options);
    }
</script>


<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">@(Model.Name)</h6>
        <i class="fas fa-info-circle infoSys"></i>
    </div>
    <div class="card-body" style="padding:unset;">
        <div id="series_chart_div@(Model.Index)" style="width: 100%; height: 500px;"></div>
    </div>
</div>